/ListaExerciciosLevel2/nbproject/private/
/scripts/RevisaoGSO/nbproject/private/
/scripts/AprendendoOO/nbproject/private/
/scripts/AprendendoOO/build/
/scripts/RevisaoGSO/build/
/scripts/RevisaoGSO/dist/